/* Created 08/26/2017 */
* {
  font-family: Georgia;
}
h1, p {
  		color: DarkSlateGray;
      background-color: Gray;
}
p {
  font-size: 18px;
  color: #FF3B6A;
  background-color: rgb(255, 206, 76);
}

